body{
	font-family: "roboto";
	background: #fcfcfc;
}

h1{
	text-align: center;
}

.wrap{
	width: 500px;
	margin: 10px auto;		
}

.tombol-simpan{
	background: #232323;
	padding: 5px 10px;
	color: #fff;	
}

table tr td,table tr th{
	padding: 10px;
}

.data{
	border-collapse: collapse;
}

.data tr th,.data tr td{
	border: 1px solid #232323;
}